extends layout

block content
  div(class='contact-title')
    p Reach or follow me on:
  div(class='contact-links')
    a(class='contact' href='mailto:erentnr@yandex.com') E-Mail
    a(class='contact' href='https://github.com/erentnr') GitHub
    a(class='contact' href='https://linkedin.com/in/erentanriverdioglu') Linkedin
    a(class='contact' href='https://twitter.com/erentnr') Twitter
