extends layout

block content
  div(class='profile')
    img(src='/static/profile_pic.jpeg', class='profile_pic', alt='Eren Tanriverdioglu')
    p(class='name') Eren Tanriverdioglu
  div(class='short-bio')
    p A bootcamp participant who tries to be full-stack developer.
    p And an earthling who loves watching Doctor Who again and again.
